<template>
  <div class="audio-demo">

    <b-container fluid>
      <h1>Voice NR</h1>
      <video id="myVideoA">
        <source src="@/assets/media/Pre.mp4" type="video/mp4">
      </video>
      <video id="myVideoB" hidden="true">
        <source src="@/assets/media/Post.mp4" type="video/mp4">
      </video>
      <b-row class="justify-content-md-center">
        <b-col cols=2 >
          <b-btn @click="play()">
            Play 
          </b-btn>
          <b-btn class="mx-2" @click="stop()">
            Pause
          </b-btn>
        </b-col>
        <b-col cols=1>
            <b-form-checkbox size="lg" @change="flip" v-model="listen" name="check-button" switch>
              Processing
            </b-form-checkbox>
        </b-col>
      </b-row>  

 <hr>
 <h1 id="processFlag" :hidden="!listen">Processed</h1>
    </b-container>  

  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
      return {
        fileurl: "@/assets/media/Pre.mp4",
        vidA: {
          muted: ''
        },
        vidB: {
          muted: ''
        },
        volume: 0.5,
        listen: false
      }
  },
  methods: {
    play() {
      console.log('Play')
      this.vidA.play()
      this.vidB.play()
      console.log("processed:", !this.listen)
    },
    stop() {
      console.log('Stopped')
      this.vidA.pause()
      this.vidB.pause()
    },
    flip() {
      this.vidA.muted = !this.listen     
      this.vidB.muted = this.listen
      console.log("processed:", !this.listen)
    }
  },
  mounted() {
      console.log('Hello')
      var vidA = document.getElementById("myVideoA")
      var vidB = document.getElementById("myVideoB")
      vidA.oncanplay = function() {
        console.log("Can start playing video A")
      }
      vidB.oncanplay = function() {
        console.log("Can start playing video B")
      }
      vidA.onloadedmetadata = function() {
        console.log("duration:", vidA.duration)
        console.log("videoHeight:", vidA.videoHeight)
        console.log("videoWidth:", vidA.videoWidth)
        console.log("src:", vidA.currentSrc)
        console.log("Text Tracks:", vidA.textTracks)
      }

      this.vidA = document.getElementById("myVideoA")
      this.vidB = document.getElementById("myVideoB")
      this.vidA.muted = this.listen     
      this.vidB.muted = !this.listen
  }
}
</script>


<style lang="scss" scoped>

</style>

