<template>
  <div class="started">
    <b-container>
    <h2> Get Started </h2>
      <p>
        This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.
      </p>   
    </b-container> 
  </div>
</template>

<script>

export default {
  name: 'home',
  components: {
  }
}
</script>
<style lang="scss" scoped>
#heroImage {
  background-color:black;
}
.started{
    padding-top: 10vh;
    text-align: center;
  }
</style>

