<template>
  <div class="Playground">
    <b-container class>
          <b-row class="fileChoose" align-h="center" align-v="end" >
              <b-col cols="6">

                <b-form-file
                  v-model="file"
                  :state="Boolean(file)"
                  placeholder="Choose a file..."
                  drop-placeholder="Drop file here..."
                ></b-form-file>

                <div class="mt-3">Selected file: {{ file ? file.name : '' }}</div>
              
              </b-col>
          </b-row>  


          <b-row  align-v="center" class="mt-3">
            <b-col cols="6">
              <b-form-group label="Genre">
                <b-form-radio-group
                  id="btn-radios"
                  v-model="selected"
                  button-variant="outline-light"
                  :options="options"
                  buttons
                  stacked
                  name="radio-btn-stacked"
                ></b-form-radio-group>
              </b-form-group>

            </b-col>
            <b-col>
              <b-btn variant="outline-light" id="processButton"> Process </b-btn>
            </b-col> 
          </b-row>
          <b-row class="mt-3"> 
            <b-col>
              <b-btn variant="outline-success" id="downloadButton"> Download </b-btn>
            </b-col>  
          </b-row>       
    </b-container> 
  </div>
</template>

<script>

export default {
  name: 'home',
  data() {
      return {
        selected: 'radio1',
        options: [
          { text: 'Rap', value: 'radio1' },
          { text: 'EDM', value: 'radio2' },
          { text: 'Pop', value: 'radio3' },
          { text: 'Country', value: 'radio4' },
          { text: 'Classical', value: 'radio5' }
        ],
        file: null,
        file2: null
      }
  },
  components: {
  }
}
</script>


<style lang="scss" scoped>
#btn-radios {
  font-size: 2rem;
  width: 200px;
}
#downloadButton {
  visibility: hidden;
  font-size: 2rem;
  height: 100px;
  width: 300px;
}
#processButton {
  font-size: 2rem;
  height: 100px;
  width: 200px;
}
.fileChoose {
  height: 300px;
}
</style>
