<template>
  <div class="audio-demo">

    <b-container fluid>
      <h1>Podcast</h1>
      <audio controls src="@/asset/media/podcast/Pre.mp3" type='mp3'></audio>
    </b-container>  

  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
      return {
        vidA: {
          muted: ''
        },
        vidB: {
          muted: ''
        },
        volume: 0.5,
        listen: false
      }
  },
  methods: {
    play() {
      console.log('Play')
      this.vidA.play()
      this.vidB.play()
      console.log("processed:", !this.listen)
    },
    stop() {
      console.log('Stopped')
      this.vidA.pause()
      this.vidB.pause()
    },
    flip() {
      this.vidA.muted = !this.listen     
      this.vidB.muted = this.listen
      console.log("processed:", !this.listen)
    }
  },
  mounted() {

  }
}
</script>


<style lang="scss" scoped>

</style>

