<template>
  <div class="audio-demo">

    <b-container fluid>
      <h1>Video Test</h1>
      <!-- <video id="myVideo">
        <source src="@/assets/media/Pre.mp4" type="video/mp4">
      </video> -->


      <div id="mp3_player">
        <div id="audio_box">

        </div>
        <canvas id="analyzer"> 
        </canvas> 
      </div>


      <b-row class="justify-content-md-center">
        <b-col cols=2 >
          <b-btn @click="play()">
            Play 
          </b-btn>
          <b-btn class="mx-2" @click="stop()">
            Pause
          </b-btn>
        </b-col>
        <b-col cols=1>
        
            <b-form-checkbox size="lg" @change="" v-model="listen" name="check-button" switch>
              Processing
            </b-form-checkbox>
        </b-col>
      </b-row>  

 <hr>
 <h1 id="processFlag" :hidden="!listen">Processed</h1>
    </b-container>  

  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
      return {
        fileurl: "@/assets/media/audiotest.wav",
        audio: {},
        volume: 0.5,
        listen: false
      }
  },
  methods: {
    play() {
      console.log('Play')
      this.audio.play()
    },
    stop() {
      console.log('Stopped')
      this.audio.pause()
    },

  },
  mounted() {
      console.log('Hello')
      // this.vid = document.getElementById("myVideo")
      // this.vid.oncanplay = function() {
      //   console.log("Can start playing video A")
      // }

      // create a new instance of an audio object and adjust some of it's properties

      this.audio = new Audio();
      this.audio.src = this.fileurl;
      this.audio.controls = true;
      this.audio.loop = true;
      this.audio.autoplay = true;

  }
}
</script>


<style lang="scss" scoped>

div#mp3_player {
  width:500px;
  height:60px;
  background: black;
  padding: 5px;
  margin: 50px auto;
}
div#mp3_player > div > audio {
  width: 500px;
  background: black;
  float: left;
}
div#mp3_player > canvas {
  width:500px;
  height: 30px;
  background: #002D3C;
  float:left;
}

</style>

