<template>
  <div class="home">

    <div class="section" style="position: relative; overflow: hidden; padding-top: 0;">

      <video autoplay muted loop id="myVideo">
        <source src="@/views/home/rain.mp4" type="video/mp4">
      </video>

      <b-container>

        <b-row id="overlay">

         <b-col>
             Enhance your audio, at scale.
          </b-col>  
        </b-row> 
        <b-row>
         <b-col>
           <h1> Intelligent and simple APIs to improve your media.</h1>
         </b-col>  
        </b-row>   
    <!-- cta -->
        <b-row class="mt-4" style="padding-bottom: 20px">
         <b-col>
           <b-btn pill class="join-beta-btn" size="lg" variant="info" href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create">Join Beta</b-btn>
           <b-btn pill size="lg" variant="light" href="mailto:info@dlby.io" style="margin-left: 20px">Contact Us</b-btn>
         </b-col>
        </b-row>

      </b-container>

    </div>

    <div class="section" style="background: #242424;">
      <b-container>
        <b-row>
          <b-col>
            <h1>Powerful Audio APIs for Your Media</h1>
          </b-col>
        </b-row>

        <b-row style="margin-top: 40px">
          <b-col lg=4 sm=12 class="use-case">
            <img class="dd-icon" src="@/views/home/icons/api/noise.svg" style="margin-top: -15px">
            <div>
              <h2>
                <a href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create" class="join-beta">Noise</a>
              </h2>
              <p>
              Eliminate distracting background noise and focus on dialogue
              </p>
            </div>
          </b-col>

          <b-col lg=4 sm=12 class="use-case">
            <img class="dd-icon" src="@/views/home/icons/api/dynamics.svg">
            <div>
              <h2>
                <a href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create" class="join-beta">
                Dynamics
                </a>
              </h2>
              <p>
              Adjust varying volume levels from loud and soft voices to be consistent
              </p>

            </div>
          </b-col>

          <b-col lg=4 sm=12 class="use-case">
            <img class="dd-icon" src="@/views/home/icons/api/tone.svg" style="margin-top: -15px">
            <div>
              <h2>
              <a href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create" class="join-beta">
              Tone
              </a>
             </h2>
              <p>Modify tonal sounds to give audio more presence and authority</p>
            </div>
          </b-col>
        </b-row>

        <b-row style="margin-top: 20px">
          <b-col lg=4 sm=12 class="use-case">
            <img class="dd-icon" src="@/views/home/icons/api/sibilance.svg">
            <div>
             <h2>
                <a href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create" class="join-beta">
               Sibilance
                </a>
             </h2>
             <p>
             Reduce harsh consonant sounds that cause listener fatigue
             </p>

           </div>
          </b-col>

          <b-col lg=4 sm=12 class="use-case">
            <img class="dd-icon" src="@/views/home/icons/api/upmix.svg" style="margin-top: -15px">
            <div>
              <h2>
                <a href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create" class="join-beta">
                Upmix
                </a>
              </h2>
              <p>
              Upgrade mono-based recordings into stereo to improve listening experience
              </p>
            </div>
          </b-col>

        </b-row>
       </b-container>

    </div>

    <div class="section" style="background: #fff;">

      <b-container style="text-align: left">

        <b-row>
          <b-col lg="5" sm="0">
            <img src="@/views/home/Betamax.jpg" style="width: 80%">
          </b-col>

          <b-col lg="7" sm="12">
            <h1>Try Our Beta</h1>

            <p style="color: #000;margin: 10px 0 20px 0;">Have a lot of media files that need to be cleaned up or enhanced? 
              We designed our APIs to handle different types of audio or video files of all sizes and processed them within minutes. 
              If you want to see what they can do, join our beta and test drive them out – we’re eager to see your results.
            </p>

            <b-btn class="join-beta-btn" pill size="lg" variant="info" href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create">Join Beta</b-btn>
          </b-col>

        </b-row>

      </b-container>

    </div>

    <div class="section" style="background: #000;">

      <b-container style="text-align: left">

        <b-row>
          <b-col lg="7" sm="12">
            <h1>Scalable, Safe and Secure</h1>

            <p style="margin: 10px 0 20px 0">
            We understand that your media is valuable. Our platform was built with that in mind. We promise we will not store or keep copies of your files, encrypt all data transfers and comply with the industry best practices for security measures.
            </p>

            <b-btn pill size="lg" variant="light" href="mailto:info@dlby.io" style="margin-bottom: 20px">Contact Us</b-btn>
          </b-col>
          <b-col lg="5" sm="0">
            <img src="@/views/home/sss-image.jpg" style="width: 100%">
          </b-col>
        </b-row>

      </b-container>

    </div>

    <div class="section" style="background: #242424;">
      
      <b-container>
        <b-row>
          <b-col>
            <h1>Engineered for Multiple Use Cases</h1>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <h5 style="color: #fff; margin-top: 10px;">Our APIs were designed to process media files of all sizes and at the same time</h5>
          </b-col>
        </b-row>
        <b-row style="color: #fff; padding-top: 20px; font-size: 1.3rem;">
          <b-col lg="2"></b-col>
          <b-col lg="4" sm="12">
            <ul style="list-style-type: none;text-align: left;">
              <li><img class="uc-icon" src="@/views/home/icons/use-case/podcast.svg" /> Podcasts</li>
              <li><img class="uc-icon" src="@/views/home/icons/use-case/lectures.svg" /> Lectures</li>
              <li><img class="uc-icon" src="@/views/home/icons/use-case/meeting-recordings.svg" /> Meeting Recordings</li>
              <li><img class="uc-icon" src="@/views/home/icons/use-case/training.svg" /> Training Videos</li>
            </ul>
          </b-col>
          <b-col lg="4" sm="12">
            <ul style="list-style-type: none;text-align: left;">
              <li><img class="uc-icon" src="@/views/home/icons/use-case/interview.svg" /> Interviews</li>
              <li><img class="uc-icon" src="@/views/home/icons/use-case/webinar.svg" /> Webinars</li>
              <li><img class="uc-icon" src="@/views/home/icons/use-case/video-clips.svg" /> Video Clips</li>
              <li><img class="uc-icon" src="@/views/home/icons/use-case/archived-media.svg" /> Archived media</li>
            </ul>
          </b-col>
          <b-col lg="2"></b-col>

        </b-row>

        <b-row style="margin-top: 20px">
          <b-col>
            <b-btn class="join-beta-btn" pill size="lg" variant="info" href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create">Join Beta</b-btn>
          </b-col>
        </b-row>
      </b-container>

    </div>

    <div class="section" style="background: #fff;">
      <b-container>
        <b-row>
          <b-col>
            <h1>Better Audio for All</h1>
          </b-col>
        </b-row>

        <b-row style="margin-top: 20px">
          <b-col lg="1" sm="12"></b-col>
          <b-col lg="10" sm="12">
            <p style="color: #000;">We're a group of seasoned audio lovers at Dolby who want to make it easier for everyone to produce great audio, without having to be an expert. 
            After decades of researching and implementing complex audio technology and workflows for the top media companies in the world, we’ve learned one thing - <strong>audio is hard.</strong> 
            </p>

            <p style="color: #000;">Our mission is that every piece of media in the world can sound incredible and that you don’t need to be a professional to make it happen.
            Try out our APIs and give us feedback, <strong>we’d love to hear from you</strong>.</p>

           <b-btn pill size="lg" variant="light" href="mailto:info@dlby.io" style="margin-top: 20px">Contact Us</b-btn>
          </b-col>
          <b-col lg="1" sm="12"></b-col>
        </b-row>
      </b-container>
    </div>


  </div>
</template>
<script>
export default {
  name: 'home',
  components: {
  }
}
</script>
<style lang="scss" scoped>
.container-fluid{
  padding:0;
}
h1 {
  color: #17a2b8;
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  color: #17a2b8;
  font-size: 1.5rem;
  font-weight: 200;
}
p {
  color: white;
}
#overlay {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding-top: 10%;
  padding-bottom: 10px;

}
.dd-icon {
  height: 10vh;
/*
  margin: 20px 0;
*/
}
.uc-icon {
  height: 7vh;
}
#myVideo {
  position: absolute;
  left: 0;
  top: -20px;
  min-width: 100%; 
/*
  min-height: 50vh;
*/
}
.home {
    text-align: center
}

.section {
  padding: 80px 0;
}

.join-beta {
  color: #00b0f0;
}

.join-beta-btn {
  background: #00b0f0;
}

p {
  font-size: 1.3rem;
}

.use-case {
  display: flex;
  text-align: left;
  margin-bottom: 10px;
}

.use-case img {
  margin-top: -10px;
  margin-right: 5px;
}

</style>
