<template>
  <div id="app">
    <div id="nav">
      <b-navbar fixed="top">
        <b-navbar-brand href="#">
           <b-link to="/"> <img id="logo" src="@/assets/logo.png"></b-link>
           <b-btn pill  variant="outline-info" href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/create">Beta</b-btn>
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-3">
           
          </b-navbar-nav>


            <b-navbar-nav class="ml-auto">
              <!-- Using 'button-content' slot -->
             <b-nav-item href="https://dolby-wip.apigee.io/docs/cloud-beta/1/overview">Documentation</b-nav-item>
             <b-nav-item href="https://hkbtglgafovjfyn-zxrvz9bmb25g8fky.accounts.apigee.io/login">Sign In</b-nav-item>
           </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>

    <router-view id="main"/>
    <div id="footer">

        <b-nav align="center" class="ml-auto">
               <b-link href="https://www.dolby.com"> <img id="logo" style="height:40px" src="@/assets/logo.png"></b-link>
               <b-nav-item href="https://www.dolby.com">   ©Dolby </b-nav-item>
              <b-nav-item href="https://dolby-wip.apigee.io/terms">Terms and Conditions</b-nav-item>
        </b-nav>
    
    </div>
  </div>
</template>

<style lang="scss">
@font-face {
  font-family: "DINNextLTPro";
  src: url("assets/fonts/DINNextLTPro-Light.otf") format("opentype");
}

#app {
  font-family: DINNextLTPro, 'Avenir', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: black;
  color: #2c3e50;
  min-height: 100vh;
}
#logo {
  height: 50px;
}
.nav-link{
    color: white;
  }
.nav-link:hover{
    color: #17a2b8;

}
#nav {
  a {
    font-weight: bold;
    color: white; //nav bar text color
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
nav {
  background: #000;
}
#main { 
  padding-top: 10vh;
  min-height: 95vh;
}
#footer {
  min-height: 5vh;
  margin-top: 30px;
}
</style>
